<p>publicaction works!</p>
 Publications 
 <div class=" container col-md-6" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Upload and Download de fichiers </h4>
    </div><br>
    <div class="panel-body">        
      <strong>Selectionnez les fichiers </strong>
      <div *ngIf="fileStatus.status==='progress'">
        <div class="progress">
          <div [style.width.%]="fileStatus.percent" class="progress-bar progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              {{ fileStatus.requestType }} {{ fileStatus.percent }} 
            </div>
        </div>
      </div> <hr>

      <form enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <div>
              <input type="file" (change)="onFileSelected($event)" name="files" multiple class="form-control" />
            </div>
            <div>
               <button type="submit" (click)="onUploadFiles()" > Upload</button>
            </div>
          </div>
        </fieldset>
      </form>
      
      <br>  
      
      <div  class="js-upload-finished">
        <h3>Processed files</h3>
        <div *ngFor="let filename of filenames" class="list-group">
          <a (click)="onDownloadFile(filename)" class="list-group-item list-group-item-success" style="cursor: pointer;">
            {{ filename }}            
            <a class="alert-success float-right">Download</a>
          </a><br>
        </div>
      </div>

    </div>
  </div>
    </div>






















		<div class=" container col-md-6">
<ol reversed>  
<div id="gauche">    
   <li> M. Mlaouah, B. Tangour, M. El Khalifi, T. Gharbi and F. Picaud 
   <a href="https://pubmed.ncbi.nlm.nih.gov/29569178/" target="_blank"><span style="color: #4B8A08;">	The encapsulation of the anticancer drug Gemcitabine into graphene nest: A theoretical study,</span></a>
   <span style="color: #DF7401;">J Mol Model <strong>2018</strong>, 22;24(4):102</span> </li>
  
   <li> A. Mejri; F. Picaud; M. El Khalifi; T. Gharbi; B. Tangour
   <a href="https://link.springer.com/article/10.1007/s00894-017-3411-z" target="_blank"><span style="color: #4B8A08;">Activation barrier by carbon nanotubes as nano-chemical reactors ,</span> </a> 
   <span style="color: #DF7401;">J Mol Model <strong>2017</strong>, Aug;23(8):229</span></li> 

   <li> M.El Khalifi, P-E Lippens 
   <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpcc.6b07209" target="_blank"><span style="color: #4B8A08;">First-Principles Investigation of the 57Fe Mössbauer Parameters of LiFePO4 and FePO4, </span> </a>
   <span style="color: #DF7401;">J. Phys. Chem. C <strong>2016</strong>, 120 (50), pp 28375–28389 </span></li>
    
   <li> M. El Khalifi, J. Bentin, E. Duverger, T. Gharbi, H. Boulahdour and F. Picaud 
   <a href="https://pubs.rsc.org/en/content/articlelanding/2016/cp/c6cp01387b#!divAbstract" target="_blank"><span style="color: #4B8A08;">Encapsulation capacity and natural payload delivery of anticancer drug from boron nitride nanotube,</span></a> 
   <span style="color: #DF7401;">Phys. Chem. Chem. Phys <strong>2016</strong>, 18, 24994-25001  </span></li>  

   <li> P-E Lippens, M. El Khalifi, M. Womes
   <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/pssb.201600194" target="_blank"><span style="color: #4B8A08;">Electronic structure and 119Sn Mössbauer parameters of SnS and SnS2,</span></a> 
   <span style="color: #DF7401;">Phys. Status Solidi B <strong>2016</strong>, 1–15 </span></li> 

   <li> M. El Khalifi, F. Picaud, M. Bizi 
   <a href="https://pubs.rsc.org/en/content/articlelanding/2016/ay/c6ay00374e#!divAbstract" target="_blank"><span style="color: #4B8A08;"> Electronic and optical properties of CeO2 from first principle calculations,</span></a> 
   <span style="color: #DF7401;">Analytical Methods <strong>2016</strong>, 8, 5045 – 5052 </span> </li> 

   <li>M. El Khalifi,  E. Duverger, T. Gharbi, H. Boulahdour and F. Picaud 
   <a href="https://pubs.rsc.org/en/content/articlelanding/2015/cp/c5cp05148g#!divAbstract" target="_blank"><span style="color: #4B8A08;">Theoretical demonstration of the potentiality of boron nitride nanotubes to encapsulate anticancer molecule,</span></a> 
   <span style="color: #DF7401;">Phys. Chem. Chem. Phys. <strong>2015</strong>, 17, 30057-30064   </span></li>
 
   <li> M. El Khalifi, E. Duverger, H. Boulahdour and F. Picaud 
   <a href="https://pubs.rsc.org/en/content/articlelanding/2016/AY/C5AY02822A#!divAbstract" target="_blank"> <span style="color: #4B8A08;">Theoretical use of boron nitride nanotubes as a perfect container for anticancer molecules, </span></a> 
   <span style="color: #DF7401;">Analytical Methods. <strong>2015</strong>, 16, 14722-14729</span> </li> 

   <li> M. El Khalifi, E. Duverger, H. Boulahdour and F. Picaud 
   <a href="https://pubs.rsc.org/en/content/articlelanding/2015/AY/C5AY00748H#!divAbstract" target="_blank"><span style="color: #4B8A08;"> Theoretical study of the interaction between carbon nanotubes and carboplatin anticancer molecules,</span></a> 
   <span style="color: #DF7401;">Analytical methods <strong>2015</strong>, 10.1039 </span></li> 

   <li> P. E. Lippens, M. El Khalifi, M. Chamas, A. Perea, M.T. Sougrati, C. Ionica-Bousquet, L. Aldon,  J. Olivier-Fourcade, J.C. Jumas 
   <a href="https://link.springer.com/chapter/10.1007/978-94-007-4762-3_54" target="_blank"> <span style="color: #4B8A08;"> How Mössbauer spectroscopy can improve Li-ion batteries, </span></a> 
   <span style="color: #DF7401;">Hyperfine Interactions.<strong>2012</strong> 206 ,35-46</span></li> 

   <li> L. Castro, R. Dedryvère, M. El Khalifi, P.E. Lippens, J. Bréger, C. Tessier, and D. Gonbeau, 
   <a href="https://pubs.acs.org/doi/abs/10.1021/jp106631v" target="_blank"> <span style="color: #4B8A08;">The spin-polarized electronic structure of LiFePO4 and FePO4 evidenced by in-lab XPS,</span></a>
   <span style="color: #DF7401;"> J. Phys. Chem. C .<strong>2010</strong>, 114 , 17995   </span></li> 
   
   <li>M. El Khalifi,, S. Bonifacie and D. Mailly, 
   <a href="https://iopscience.iop.org/article/10.1088/1742-6596/193/1/012131/pdf" target="_blank"><span style="color: #4B8A08;"> Tunneling accross mesoscopic Hall bars, </span></a> 
   <span style="color: #DF7401;"> Journal of Physics: Conference Series  <strong>2009</strong>, 193 , 01213 </span></li> 

</div>
</ol>

Conférences
<ol reversed >
   <div id="droite">  
   <li> Nano-Tn: Marrakech, Février 2016  <span style="color: #DF7401;">Communication orale</span>: Trapping of C60 on a molecular self assembly network on a semiconductor surface.</li>  

 
</div>
</ol>
          
</div>       
               
            