<p>recherche works!</p>
    
    <p>Mes travaux de recherche portent sur l’application des méthodes de calcul de la structure électronique de systèmes moléculaires et solides, 
    et s'organisent suivant deux axes : la théorie de la fonctionnelle de la densité et la dynamique moléculaire, en combinant différentes techniques expérimentales et
    théoriques afin de comprendre, analyser et prédire les propriétés électroniques des matériaux de structures complexes </p>
    
    
    
           
 <a href="these.html">Thèse de doctorat : « étude théorique des nouveaux matériaux d’électrode positive pour batteries Li-ion 
 <a href="postdoc1.html">Post-doc : « Simulation de la diffusion des ions Li+ dans les électrolytes par l’équation de Poisson-Nernst- Planck »
 <a href="postdoc2.html">Post-doc : « Simulation des propriétés optiques des nanomatériaux »
  <a href="postdoc3.html">Post-doc : « Etude théorique du confinement des molécules dans des nanostructures »
  <a href="postdoc4.html">ATER : Modélisation par calculs DFT de dérivés organiques  prédiction de structures cristallines et architectures hybrides de nouveaux matériaux de cathode pour batteries Li-ion »
<a href="postdoc4.html">ATER : Modélisation ab-initio de l'adsorption et de la réactivité des hydrocarbures dans les zéolithes

       
    