<p></p>
<div class=" container col-md-9">
<p>enseignement works!</p>


<p>view-graph works!</p>
<div id="container"></div>







<p>dans le cadre de mon contrat doctoral  j’ai pu exercer les activités d’enseignement supérieur  en tant que moniteur à l’université de Montpellier 2, 
    et dernièrement en qualité d’attaché temporaire d’enseignement supérieure et de recherche à temps plein à l’université de Picardie – Jules Verne et à l’école nationale supérieure d’ingénieurs de Caen. 
    Cette partie donne les détails des et les activés pédagogiques (enseignement et encadrement) exercées</p>
    
    <section>
        <article>
           
       <h1 class ="indexH1">Thèmes et niveaux d'enseignement</h1>
<p class ="indexH3"> <strong>1ère année Licence-Travaux pratiques:</strong> 
    <ul>
        <li> Analyse dimentionnelle et équations différentielles </li>
        <li> Phénomènes de diffractions et intensités lumineuses </li>
        <li> Décharche d'un condensateur </li>
        <li> Mesure de la distance focale d’une lentille mince </li>
        <li> Analogie entre l’écoulement d’un liquide et le courant électrique </li>
    </ul>
<p class ="indexH3"> <strong> PACES-Enseignemnts dirigés:</strong>
    <ul>
        <li> Thermodynamique </li>
        <li> Osmose </li>
        <li> Optique </li>
        <li> Elecromagnétisme </li>
        <li> Electrostatique </li>
        <li> RMN du proton </li>
        <li> Radioactivité </li>
    </ul>
<p class ="indexH3"> <strong> Bachelor-Enseignemnts dirigés:</strong>
    <ul>
        <li> Chimie théorique </li>
    </ul>
 <h1 class ="indexH1">Encadrements</h1>
 <ul>
    <li> Etudiants en Master 2</li>
    <li> Etudiantes en thèse </li>
</ul>

        </article>
       
            </section>
            <div>